[client]
default-character-set=utf8
[mysqld]
# 禁用ssl
skip_ssl
character-set-server=utf8
datadir=/var/lib/mysql
lower_case_table_names = 1
max_allowed_packet = 200M
max_connections = 7200
wait_timeout = 7200
interactive_timeout = 7200
