/jxc.iml
/.gradle
/.idea
/build
/addon-swagger/addon-swagger_test.iml
/addon-swagger/build
/addon-swagger/addon-swagger.iml
/addon-swagger/addon-swagger_main.iml
/web/build
build
/*.iml
/docs/db/*.pdb
/mobile
/*.log
/*.lock
/api-core/out
/api-jxc/out
/api-web/out
/api-sys/out
/addon-pay/out
