<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.module//DTD Mapper 3.0//EN" "http://mybatis.module/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.nerv.web.sys.module.mapper.ModuleMapper">
  <resultMap id="BaseResultMap" type="module" extends="common.resultMap">
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="ICON" jdbcType="VARCHAR" property="icon" />
    <result column="ROUTEURL" jdbcType="VARCHAR" property="routeurl" />
    <result column="MODELURL" jdbcType="VARCHAR" property="modelurl" />
    <result column="PARENT_ID" jdbcType="VARCHAR" property="parentId" />
    <result column="PARENT_NAME" jdbcType="VARCHAR" property="parentName" />
    <result column="PATH" jdbcType="VARCHAR" property="path" />
    <result column="PATH_ID" jdbcType="VARCHAR" property="pathId" />
    <result column="PATH_NAME" jdbcType="VARCHAR" property="pathName" />
    <result column="ISLEAF" jdbcType="TINYINT" property="isleaf" />
    <result column="ORDERS" jdbcType="INTEGER" property="orders" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
    <collection property="children"  column="{id=id}" select="listChildren" />
  </resultMap>
  <!--根据权限ID查询用户拥有的模块-->
  <select id="getRoleModuleByUserId" resultType="module">
      select distinct m.* from
        SYS_MODULE M,
        SYS_ROLE R,
        SYS_ROLE_MODULE RM,
        SYS_ROLE_USER RU
      where
        R.ID=RM.ROLE_ID
        and
        M.ID=RM.MODULE_ID
        and
        R.ID=RU.ROLE_ID
        and
        ru.USER_ID = #{userId}
      order by orders asc
  </select>
  <!--根据条件查询 拥有权限的 菜单数据-->
  <select id="listGrantedModule" resultMap="BaseResultMap">
    select * from v_granted_module m
    <where>
      <if test="null != roleNames and roleNames.length > 0">
        and role_Code in
        <foreach collection="roleNames" item="code" index="index" open="(" close=")" separator=",">
          #{code,jdbcType=VARCHAR}
        </foreach>
      </if>
      <choose>
        <when test="null == condition or '' == condition">
          and (m.parent_Id = '0' or m.parent_Id is null)
        </when>
        <otherwise>
          and m.name like concat('%',#{condition},'%')
        </otherwise>
      </choose>
      <if test="null != module">
        <if test="null != module.status and module.status != '' ">
          and m.status = #{module.status}
        </if>
        <if test="null != module.name and module.name != '' ">
          and m.name like concat('%',#{module.name},'%')
        </if>
      </if>
    </where>
    order by m.orders asc
  </select>

  <!--根据条件查询菜单数据-->
  <select id="listModule" resultMap="BaseResultMap">
    select * from sys_module
    <where>
      <choose>
        <when test="null == condition or '' == condition">
          (parent_Id = '0' or parent_Id is null)
        </when>
        <otherwise>
          name like concat('%',#{condition},'%')
        </otherwise>
      </choose>
      <if test="null != module">
        <if test="null != module.status and module.status != '' ">
            and status = #{module.status}
        </if>
        <if test="null != module.name and module.name != '' ">
          and name like concat('%',#{module.name},'%')
        </if>
      </if>
    </where>
    order by orders asc
  </select>
  <!-- 根据parentId查询子节点数据-->
  <select id="listChildren" resultMap="BaseResultMap">
    select *
    from sys_module where parent_ID = #{id}
    order by orders asc
  </select>
  <!-- 根据ID查询-->
  <select id="getParentById" resultMap="BaseResultMap">
    select * from sys_module module
    where module.id = (select parent_Id from sys_module og where og.id = #{id})
    order by orders asc
  </select>
  <!--查询叶子节点数量-->
  <select id="countPrantLeaf" resultType="int">
    select count(id)
    from sys_module
    where parent_Id=#{id}
  </select>

  <!-- 根据parentId查询子节点数据-->
  <select id="listOrder" resultType="Integer">
    select  ifnull(max(orders),0)
    from sys_module where
    <choose>
      <when test='pid == null or pid == "0"'>
          parent_ID is null
      </when>
      <otherwise>
          parent_ID = #{pid}
      </otherwise>
    </choose>
  </select>

  <!-- 根据id禁用节点-->
  <update id="disableChild">
    update sys_module set status = '0000'
   where path_id like concat('%',#{id},'%');
  </update>

  <!-- 根据id查询数据-->
  <select id="selectId" resultMap="BaseResultMap">
    select  *
    from sys_module where id = #{id}
  </select>
  <!--  刷新子节点名称-->
  <update id="updateChildParentName">
    update sys_module
      set PARENT_NAME=#{name}
    where  parent_id like  concat(#{id},'%');
  </update>

    <!--  刷新子节点的path_name  和 path -->
    <update id="updateChildPathInfo">
        update sys_module set
        PATH_NAME=REPLACE(PARENT_NAME,#{oldModule.name},#{newModule.name}),
        PATH=REPLACE(PATH,#{oldModule.path},#{newModule.path})
      where path like concat('%',#{oldModule.path},'%') and id != #{oldModule.id}
    </update>

</mapper>