<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.module//DTD Mapper 3.0//EN" "http://mybatis.module/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.pkaq.sys.module.mapper.ModuleMapper">
  <resultMap id="BaseResultMap" type="module" extends="common.resultMap">
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="ICON" jdbcType="VARCHAR" property="icon" />
    <result column="ROUTEURL" jdbcType="VARCHAR" property="routeurl" />
    <result column="MODELURL" jdbcType="VARCHAR" property="modelurl" />
    <result column="PARENT_ID" jdbcType="VARCHAR" property="parentId" />
    <result column="PARENT_NAME" jdbcType="VARCHAR" property="parentName" />
    <result column="PATH" jdbcType="VARCHAR" property="path" />
    <result column="PATH_ID" jdbcType="VARCHAR" property="pathId" />
    <result column="PATH_NAME" jdbcType="VARCHAR" property="pathName" />
    <result column="ISLEAF" jdbcType="TINYINT" property="isleaf" />
    <result column="ORDERS" jdbcType="INTEGER" property="orders" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
    <collection property="children"  column="{id=id,status=status}" select="listChildren" />
  </resultMap>
  <!--根据权限ID查询用户拥有的模块-->
  <select id="getRoleModuleByUserId" resultType="module">
      select distinct m.* from
        SYS_MODULE M,
        SYS_ROLE R,
        SYS_ROLE_MODULE RM,
        SYS_ROLE_USER RU
      where
        R.ID=RM.ROLE_ID
        and
        M.ID=RM.MODULE_ID
        and
        R.ID=RU.ROLE_ID
        and
        ru.USER_ID = #{userId}
  </select>
  <!--根据条件查询菜单数据-->
  <select id="listModule" resultMap="BaseResultMap">
    select * from sys_module
    <where>
      <choose>
        <when test="null == condition or '' == condition">
          (parent_Id = '0' or parent_Id is null)
        </when>
        <otherwise>
          name like '%${condition}%'
        </otherwise>
      </choose>
      <if test="null != module">
        <if test="module.status != '' and null != module.status">
            and status = #{module.status}
        </if>
        <if test="module.name != '' and null != module.name">
          and name = #{module.name}
        </if>
      </if>
    </where>
    order by orders asc
  </select>
  <!-- 根据parentId查询子节点数据-->
  <select id="listChildren" resultMap="BaseResultMap">
    select *
    from sys_module where parent_ID = #{id}
    <if test="status != '' and null != status">
      and status = #{status}
    </if>
    order by orders asc
  </select>
  <!-- 根据ID查询-->
  <select id="getParentById" resultMap="BaseResultMap">
    select * from sys_module module
    where module.id = (select parent_Id from sys_module og where og.id = #{id})
  </select>
  <!--查询叶子节点数量-->
  <select id="countPrantLeaf" resultType="int">
    select count(id)
    from sys_module
    where parent_Id=(select parent_Id from sys_module og where og.id = #{id})
  </select>

</mapper>