debug: true
# 日志
logging:
  pattern:
    level: debug
    console: "%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%thread]){faint} %clr(%-40.40logger{39}){cyan} %L %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}"
  # 日志文件配置 file 和 path只需配置一个 不可同时配置 ， 同时配置只生效file
  file:
    name: e:/applogs/webapp.log
#  监控
spring:
  boot:
    admin:
      client:
        url: http://47.104.217.77:10086/
        username: eva
        password: 7u8i9o0p
        instance:
          service-host-type: ip
  # 数据源
  datasource:
    type: com.zaxxer.hikari.HikariDataSource
    username: eva
    password: eva
    #    GsyjJCmmNRiHRVGmXdy+QErynoqC/cOBlt5V9dPZ+c2g2XwPc5+BbKrSxWLsyCGG
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://xilai.my.to:12306/eva?useUnicode=true&characterEncoding=UTF-8&serverTimezone=Asia/Shanghai&useSSL=false&autoReconnect=true&failOverReadOnly=false
  hikari:
    minimum-idle: 10
    maximum-pool-size: 50
    max-lifetime: 3000
    connection-test-query: select 1
  devtools:
    livereload:
      enabled: true
    restart:
      additional-paths: src/main/java
# redis 配置
  redis:
    host: 47.104.217.77
    port: 6379
    password: 7u8i9o0p
    timeout: 10000
    database: 0
  # flyway配置 对于非空数据库 需要开启此项避免报错
  flyway:
    baseline-on-migrate: true
    locations: classpath:/db/migration
    baseline-version: 0
    enabled: false
  data:
    redis:
      repositories:
        enabled: false
management:
  endpoints:
    web:
      exposure:
        include: '*'
  endpoint:
    health:
      show-details: ALWAYS
# 暴露spring secrity用于登录的端点
springdoc:
  show-login-endpoint: true
  show-actuator: true
  swagger-ui:
    query-config-enabled: true
    use-root-path: true
#    address: 47.104.217.77