package ${package.Controller};

import ${package.Entity}.${entity};
import ${package.Service}.${table.serviceName};
import org.springframework.web.bind.annotation.RequestMapping;
import io.swagger.annotations.Api;
#if(${restControllerStyle})
import org.springframework.web.bind.annotation.RestController;
#else
import org.springframework.stereotype.Controller;
#end
#if(${superControllerClassPackage})
import ${superControllerClassPackage};
#end

/**
 * $!{table.comment} 控制器
 * @author ${author}
 */
@Api(tags = {"${package.ModuleName}"})
#if(${restControllerStyle})
@RestController
#else
@Controller
#end
@RequestMapping("${cfg.sysName}/${package.ModuleName}")
#if(${superControllerClass})
public class ${table.controllerName} extends ${superControllerClass}<${table.serviceName}, ${entity}> {
#else
public class ${table.controllerName} {
#end

}