package io.nerv.web.jxc.purchasing.order.service;

import cn.hutool.core.util.StrUtil;
import StdBaseService;
import PageVo;
import PurchasingOrder;
import PurchasingRepo;
import PurchasingVo;
import org.springframework.data.domain.Page;
import org.springframework.data.domain.PageRequest;
import org.springframework.data.domain.Pageable;
import org.springframework.stereotype.Service;

@Service
public class PurchasingServices extends StdBaseService<PurchasingRepo, PurchasingOrder> {

    /**
     * 查询code是否存在
     * @param code
     * @return
     */
    public boolean checkCode(String code, String id){
        if (StrUtil.isBlank(id)){
            return this.repository.countByCode(code) > 0;
        } else {
            return this.repository.countByCodeAndIdNot(code, id) > 0;
        }
    }

    /**
     * 按分页查询
     * @param page      当前页码
     * @param size      分页条数
     * @return          分页模型类
     */
    public PageVo<PurchasingVo> listAll(PurchasingOrder purchasingOrder, int page, int size) {

        Pageable pageable = PageRequest.of(page, size);

        Page<PurchasingVo> result = this.repository.findAllPurchasingWithLine(pageable);

        return new PageVo<PurchasingVo>().setCurrent(result.getNumber() + 1)
                                         .setSize(result.getSize())
                                         .setTotal(result.getTotalElements())
                                         .setRecords(result.getContent());
    }
}
