<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.module//DTD Mapper 3.0//EN" "http://mybatis.module/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.pkaq.sys.module.mapper.ModuleMapper">
    <resultMap id="BaseResultMap" type="org.pkaq.sys.module.vo.ModuleDetailVo" extends="common.resultMap">
        <id property="id" column="ID"/>
        <collection property="children" column="{id=id}" select="listChildren"/>
        <collection property="resources" javaType="java.util.List" ofType="moduleResource">
            <id column="R_ID" property="id" jdbcType="VARCHAR"/>
        </collection>
    </resultMap>

    <!-- 更新path   -->
    <update id="refreshPath" parameterType="map">
        UPDATE sys_module
        SET path = CONCAT(#{newPath}, SUBSTRING(path, #{oldPathLength} + 1))
        WHERE path LIKE CONCAT(#{oldPath}, '/%')
    </update>

    <!--    更新排序-->
    <update id="updateSort" parameterType="map">
        UPDATE sys_module
        SET sort = CASE
            WHEN id = #{id} THEN #{newSort}
            WHEN #{newSort} &lt; #{oldSort}
                AND sort &gt;= #{newSort}
                AND sort &lt; #{oldSort} THEN sort + 1
            WHEN #{newSort} &gt; #{oldSort}
                AND sort &lt;= #{newSort}
                AND sort &gt; #{oldSort} THEN sort - 1
            ELSE sort
        END
        WHERE (sort BETWEEN LEAST(#{oldSort}, #{newSort}) AND GREATEST(#{oldSort}, #{newSort}))
            OR id = #{id}
    </update>

    <!--根据权限ID查询用户拥有的模块-->
    <select id="getRoleModuleByUserId" resultType="module">
        select
            distinct
            m.*
        from
            SYS_MODULE M,
            SYS_ROLE R,
            SYS_ROLE_MODULE RM,
            SYS_ROLEUSER_REF RU
        where
            M.STATUS != '0001' and
            R.ID=RM.ROLE_ID and
            M.ID=RM.MODULE_ID and
            R.ID=RU.ROLE_ID and
            ru.USER_ID = #{userId}
        order by
            m.orders asc
    </select>
    <!--根据条件查询 拥有权限的 菜单数据-->
    <select id="listGrantedModule" resultMap="BaseResultMap">
        select * from v_granted_module m
        <where>
            <if test="null != roleNames and roleNames.length > 0">
                and role_Code in
                <foreach collection="roleNames" item="code" index="index" open="(" close=")" separator=",">
                    #{code,jdbcType=VARCHAR}
                </foreach>
            </if>
            <choose>
                <when test="null == condition or '' == condition">
                    and (m.parent_Id = '0' or m.parent_Id is null)
                </when>
                <otherwise>
                    and m.name like
                    <if test="_databaseId == 'mysql'">
                        concat('%',#{condition,jdbcType=VARCHAR},'%')
                    </if>
                    <if test="_databaseId == 'oracle'">
                        '%' ||#{condition}||'%'
                    </if>
                </otherwise>
            </choose>
            <if test="null != module">
                <if test="null != module.status and module.status != '' ">
                    and m.status = #{module.status,jdbcType=VARCHAR}
                </if>
                <if test="null != module.name and module.name != '' ">
                    and m.name like
                    <if test="_databaseId =='mysql'">
                        concat('%',#{module.name,jdbcType=VARCHAR},'%')
                    </if>
                    <if test="_databaseId == 'oracle'">
                        '%'||#{module.name}||'%'
                    </if>
                </if>
            </if>
        </where>
        order by id asc
    </select>

    <!--根据条件查询菜单数据-->
    <select id="listModule" resultMap="BaseResultMap">
        select
            SM.*,
            SMR.ID R_ID,
            SMR.MODULE_ID,
            SMR.RESOURCE_DESC,
            SMR.RESOURCE_URL,
            SMR.RESOURCE_TYPE
        from
            SYS_MODULE SM
        LEFT JOIN
            SYS_MODULE_RESOURCES SMR
                ON SM.ID = SMR.MODULE_ID
        <where>
            <if test="null == module or null == module.parentId or '' == module.parentId">
                and (parent_id is null or parent_id = '0')
            </if>
            <if test="null != module">
                <if test="null != module.parentId and '' != module.parentId">
                    and parent_id = #{module.parent_id,jdbcType=VARCHAR}
                </if>
                <if test="null != module.status and module.status != '' ">
                    and status in(#{module.status,jdbcType=VARCHAR},'9999')
                </if>
                <if test="null != module.name and module.name != '' ">
                    and name like
                    <if test="_databaseId == 'mysql'">
                        concat('%',#{module.name,jdbcType=VARCHAR},'%')
                    </if>
                    <if test="_databaseId == 'oracle'">
                        '%'||#{module.name}||'%'
                    </if>
                </if>
            </if>
        </where>
        order by orders asc
    </select>
    <!-- 根据parentId查询子节点数据-->
    <select id="listChildren" resultMap="BaseResultMap">
        select
        SM.*,
        SMR.ID R_ID,
        SMR.MODULE_ID,
        SMR.RESOURCE_DESC,
        SMR.RESOURCE_URL,
        SMR.RESOURCE_TYPE
        from
        sys_module SM
        LEFT JOIN
        SYS_MODULE_RESOURCES SMR
        ON SM.ID = SMR.MODULE_ID
        where parent_ID = #{id,jdbcType=VARCHAR}
        order by orders asc
    </select>
    <!-- 根据ID查询-->
    <select id="getParentById" resultMap="BaseResultMap">
        select * from sys_module module
        where module.id = (select parent_Id from sys_module og where og.id = #{id,jdbcType=VARCHAR})
        order by orders asc
    </select>
    <!--查询叶子节点数量-->
    <select id="countPrantLeaf" resultType="int">
        select count(id)
        from sys_module
        where parent_Id=#{id,jdbcType=VARCHAR}
    </select>

    <!-- 根据parentId查询子节点数据-->
    <select id="listOrder" resultType="java.lang.Integer">
        select
        <if test="_databaseId == 'mysql'">
            ifnull(max(orders),0)
        </if>
        <if test="_databaseId == 'oracle'">
            nvl(max(orders),0)
        </if>
        from
        sys_module where
        <choose>
            <when test='pid == null or pid == "0"'>
                parent_ID is null
            </when>
            <otherwise>
                parent_ID = #{pid,jdbcType=VARCHAR}
            </otherwise>
        </choose>
    </select>

    <!-- 根据id禁用节点-->
    <update id="disableChild">
        update sys_module set status = '0001'
        where path_id like
        <if test="_databaseId == 'mysql'">
            concat(#{id,jdbcType=VARCHAR},'%') or id = #{id}
        </if>
        <if test="_databaseId == 'oracle'">
            #{id}||'%' or id = #{id}
        </if>
    </update>

    <!-- 根据id查询数据-->
    <select id="selectId" resultMap="BaseResultMap">
        select *
        from sys_module where id = #{id,jdbcType=VARCHAR}
    </select>
    <!--    查询当前登录用户所拥有角色的所有不重复模块合集 -->
    <select id="listGrantedModules" resultType="java.util.Map">
        SELECT DISTINCT
            m.ID ,
            m.NAME,
            m.PID,
            m.PATH,
            m.ISLEAF,
            m.CODE,
            m.SORT
        FROM SYS_ROLEUSER_REF ru
            JOIN SYS_ROLERES_REF rr ON ru.ROLE_ID = rr.ROLE_ID
            JOIN SYS_MODULE_RESOURCES r ON rr.RESOURCE_ID = r.ID
            JOIN SYS_MODULE m ON r.MODULE_ID = m.ID
        WHERE ru.USER_ID = #{uid}
        AND
        <include refid="common.avalibleSQL">
            <property name="prefix" value="m"/>
        </include>
        ORDER BY m.SORT ASC;
    </select>
    <!--    查询map化的数结构-->
    <select id="selectModuleMapList" resultType="java.util.Map">
        SELECT * FROM SYS_MODULE t
        <where>
            <include refid="common.avalibleSQL">
                <property name="prefix" value="t"/>
            </include>
            <if test="id != null">
                AND t.ID = #{bo.id}
            </if>
            <if test="name != null and name != ''">
                AND t.NAME LIKE CONCAT('%', #{bo.name}, '%')
            </if>
            <if test="pid != null">
                AND t.PID = #{bo.pid}
            </if>
            <if test="isleaf != null">
                AND t.ISLEAF = #{bo.isleaf}
            </if>
            <if test="code != null and code != ''">
                AND t.CODE = #{bo.code}
            </if>
        </where>
    </select>
    <!--  刷新子节点名称-->
    <update id="updateChildParentName">
        update sys_module
        set PARENT_NAME=#{name,jdbcType=VARCHAR}
        where parent_id like
        <if test="_databaseId == 'mysql'">
            concat(#{id,jdbcType=VARCHAR},'%')
        </if>
        <if test="_databaseId == 'oracle'">
            #{id}||'%'
        </if>
    </update>
    <!--  刷新子节点的path_name  和 path -->
    <update id="updateChildPathInfo">
        update sys_module set
        PATH_NAME=REPLACE(PARENT_NAME,#{oldModule.name,jdbcType=VARCHAR},#{newModule.name,jdbcType=VARCHAR}),
        PATH=REPLACE(PATH,#{oldModule.path,jdbcType=VARCHAR},#{newModule.path,jdbcType=VARCHAR})
        where path like
        <if test="_databaseId == 'mysql'">
            concat('%',#{oldModule.path,jdbcType=VARCHAR},'%')
        </if>
        <if test="_databaseId =='oracle'">
            '%'||#{oldModule.path}||'%'
        </if>
        and id != #{oldModule.id,jdbcType=VARCHAR}
    </update>

</mapper>