<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.module//DTD Mapper 3.0//EN" "http://mybatis.module/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.pkaq.sys.module.mapper.ModuleMapper">
    <resultMap id="BaseResultMap" type="org.pkaq.sys.module.vo.ModuleDetailVo" extends="common.resultMap">
        <id property="id" column="ID"/>
        <result property="code" column="CODE"/>
        <result property="name" column="NAME"/>
        <result property="pid" column="PID"/>
        <result property="path" column="PATH"/>
        <result property="isleaf" column="ISLEAF"/>
        <result property="icon" column="ICON"/>
        <result property="routeUrl" column="ROUTE_URL"/>
        <result property="componentUrl" column="COMPONENT_URL"/>
        <collection property="children" column="{id=id}" select="listChildren"/>
    </resultMap>

    <resultMap id="FlatResultMap" type="org.pkaq.sys.module.vo.ModuleDetailVo" extends="common.resultMap">
        <id property="id" column="ID"/>
        <result property="code" column="CODE"/>
        <result property="name" column="NAME"/>
        <result property="pid" column="PID"/>
        <result property="path" column="PATH"/>
        <result property="isleaf" column="ISLEAF"/>
        <result property="icon" column="ICON"/>
        <result property="routeUrl" column="ROUTE_URL"/>
        <result property="componentUrl" column="COMPONENT_URL"/>
    </resultMap>

    <sql id="ModuleDetailColumns">
        ${alias}.ID,
        ${alias}.REVISION,
        ${alias}.FROZEN,
        ${alias}.SORT,
        ${alias}.TENANT_ID,
        ${alias}.CREATE_ID,
        ${alias}.CREATE_BY,
        ${alias}.UTC_CREATE,
        ${alias}.MODIFY_ID,
        ${alias}.MODIFY_BY,
        ${alias}.UTC_MODIFY,
        ${alias}.REMARK,
        ${alias}.CODE,
        ${alias}.NAME,
        ${alias}.PID,
        ${alias}.PATH,
        ${alias}.ISLEAF,
        ${alias}.ICON,
        ${alias}.ROUTE_URL,
        ${alias}.COMPONENT_URL
    </sql>

    <update id="refreshPath" parameterType="map">
        UPDATE sys_module
        SET path = CONCAT(#{newPath}, SUBSTRING(path, #{oldPathLength} + 1))
        WHERE path LIKE CONCAT(#{oldPath}, '/%')
    </update>

    <!-- 级联冻结/解锁：自身 + 所有 path 以本节点 path 为前缀的子孙 -->
    <update id="cascadeFrozen">
        UPDATE sys_module
        SET frozen = #{frozen,jdbcType=INTEGER}
        WHERE id = #{id,jdbcType=BIGINT}
        <if test="path != null and path != ''">
            OR path LIKE CONCAT(#{path,jdbcType=VARCHAR}, '/%')
        </if>
    </update>

    <!-- 同级拖拽排序：限定相同 pid，避免跨父节点污染。根节点排序时 pid = 0 -->
    <update id="updateSort" parameterType="map">
        UPDATE sys_module
        SET sort = CASE
            WHEN id = #{id} THEN #{newSort}
            WHEN #{newSort} &lt; #{oldSort}
                AND sort &gt;= #{newSort}
                AND sort &lt; #{oldSort} THEN sort + 1
            WHEN #{newSort} &gt; #{oldSort}
                AND sort &lt;= #{newSort}
                AND sort &gt; #{oldSort} THEN sort - 1
            ELSE sort
        END
        WHERE pid = #{pid,jdbcType=BIGINT}
          AND (
              (sort BETWEEN LEAST(#{oldSort}, #{newSort}) AND GREATEST(#{oldSort}, #{newSort}))
              OR id = #{id}
          )
    </update>

    <select id="getRoleModuleByUserId" resultType="module">
        SELECT DISTINCT m.*
        FROM SYS_MODULE m
            JOIN SYS_ROLE_MODULE rm ON m.ID = rm.MODULE_ID
            JOIN SYS_ROLE r ON r.ID = rm.ROLE_ID
            JOIN SYS_ROLEUSER_REF ru ON r.ID = ru.ROLE_ID
        WHERE ru.USER_ID = #{userId}
            AND (m.DELETED = 0 OR m.DELETED IS NULL)
            AND (m.FROZEN != 1 OR m.FROZEN IS NULL)
        ORDER BY m.sort ASC
    </select>

    <select id="listGrantedModule" resultMap="BaseResultMap">
        SELECT * FROM v_granted_module m
        <where>
            <if test="null != roleNames and roleNames.length > 0">
                and role_Code in
                <foreach collection="roleNames" item="code" index="index" open="(" close=")" separator=",">
                    #{code,jdbcType=VARCHAR}
                </foreach>
            </if>
            <choose>
                <when test="null == condition or '' == condition">
                    and m.pid = 0
                </when>
                <otherwise>
                    and m.name like
                    <if test="_databaseId == 'mysql'">
                        concat('%',#{condition,jdbcType=VARCHAR},'%')
                    </if>
                    <if test="_databaseId == 'oracle'">
                        '%' ||#{condition}||'%'
                    </if>
                    <if test="_databaseId == 'postgre'">
                        '%' || #{condition, jdbcType=VARCHAR} || '%'
                    </if>
                </otherwise>
            </choose>
            <if test="null != module and null != module.name and module.name != '' ">
                and m.name like
                <if test="_databaseId =='mysql'">
                    concat('%',#{module.name,jdbcType=VARCHAR},'%')
                </if>
                <if test="_databaseId == 'oracle'">
                    '%'||#{module.name}||'%'
                </if>
                <if test="_databaseId == 'postgre'">
                    '%' || #{module.name, jdbcType=VARCHAR} || '%'
                </if>
            </if>
        </where>
        ORDER BY m.sort ASC
    </select>

    <select id="listModule" resultMap="BaseResultMap">
        SELECT
            <include refid="ModuleDetailColumns"><property name="alias" value="SM"/></include>
        FROM SYS_MODULE SM
        <where>
            <if test="null == module or null == module.pid">
                and SM.pid = 0
            </if>
            <if test="null != module">
                <if test="null != module.pid">
                    and SM.pid = #{module.pid,jdbcType=BIGINT}
                </if>
                <if test="null != module.name and module.name != '' ">
                    and SM.name like
                    <if test="_databaseId == 'mysql'">
                        concat('%',#{module.name,jdbcType=VARCHAR},'%')
                    </if>
                    <if test="_databaseId == 'oracle'">
                        '%'||#{module.name}||'%'
                    </if>
                    <if test="_databaseId == 'postgre'">
                        '%' || #{module.name, jdbcType=VARCHAR} || '%'
                    </if>
                </if>
                <if test="null != module.code and module.code != ''">
                    and SM.code = #{module.code,jdbcType=VARCHAR}
                </if>
            </if>
        </where>
        ORDER BY SM.sort ASC, SM.ID ASC
    </select>

    <select id="listChildren" resultMap="BaseResultMap">
        SELECT
            <include refid="ModuleDetailColumns"><property name="alias" value="SM"/></include>
        FROM sys_module SM
        WHERE SM.pid = #{id,jdbcType=BIGINT}
        ORDER BY SM.sort ASC, SM.ID ASC
    </select>

    <select id="getParentById" resultMap="BaseResultMap">
        SELECT * FROM sys_module module
        WHERE module.id = (SELECT pid FROM sys_module og WHERE og.id = #{id,jdbcType=BIGINT})
        ORDER BY module.sort ASC
    </select>

    <select id="countPrantLeaf" resultType="int">
        SELECT count(id)
        FROM sys_module
        WHERE pid = #{id,jdbcType=BIGINT}
    </select>

    <select id="listOrder" resultType="java.lang.Integer">
        SELECT
        <if test="_databaseId == 'mysql'">
            ifnull(max(sort),0)
        </if>
        <if test="_databaseId == 'oracle'">
            nvl(max(sort),0)
        </if>
        <if test="_databaseId == 'postgre'">
            coalesce(max(sort), 0)
        </if>
        FROM sys_module
        WHERE pid = #{pid,jdbcType=BIGINT}
    </select>

    <update id="disableChild">
        UPDATE sys_module
        SET frozen = 1
        WHERE id = #{id,jdbcType=BIGINT}
            OR path like concat(#{id,jdbcType=VARCHAR}, '/%')
            OR path like concat('%/', #{id,jdbcType=VARCHAR}, '/%')
            OR path like concat('%/', #{id,jdbcType=VARCHAR})
    </update>

    <select id="selectId" resultMap="BaseResultMap">
        SELECT *
        FROM sys_module
        WHERE id = #{id,jdbcType=BIGINT}
    </select>

    <select id="listGrantedModules" resultMap="FlatResultMap">
        SELECT DISTINCT
            m.ID,
            m.SORT,
            m.NAME,
            m.PID,
            m.PATH,
            m.ISLEAF,
            m.CODE,
            m.ICON,
            m.ROUTE_URL,
            m.COMPONENT_URL
        FROM SYS_ROLEUSER_REF ru
            JOIN SYS_ROLERES_REF rr ON ru.ROLE_ID = rr.ROLE_ID
            JOIN SYS_MODULE_RESOURCES r ON rr.RESOURCE_ID = r.ID AND (r.DELETED = 0 OR r.DELETED IS NULL)
            JOIN SYS_MODULE m ON r.MAIN_ID = m.ID
        WHERE ru.USER_ID = #{uid}
            AND (m.DELETED = 0 OR m.DELETED IS NULL)
        ORDER BY m.SORT ASC
    </select>

    <select id="selectModuleMapList" resultMap="BaseResultMap">
        SELECT
            <include refid="ModuleDetailColumns"><property name="alias" value="t"/></include>
        FROM SYS_MODULE t
        <where>
            (t.DELETED = 0 OR t.DELETED IS NULL)
            <if test="bo.id != null">
                AND t.ID = #{bo.id}
            </if>
            <if test="bo.name != null and bo.name != ''">
                AND t.NAME LIKE CONCAT('%', #{bo.name}, '%')
            </if>
            <if test="bo.pid != null">
                AND t.PID = #{bo.pid}
            </if>
            <if test="bo.code != null and bo.code != ''">
                AND t.CODE = #{bo.code}
            </if>
        </where>
        ORDER BY t.SORT ASC
    </select>

    <update id="updateChildParentName">
        UPDATE sys_module
        SET path = REPLACE(path, #{oldPathId,jdbcType=VARCHAR}, #{newPathId,jdbcType=VARCHAR})
        WHERE path like concat('%', #{oldPathId,jdbcType=VARCHAR}, '%')
            AND id != CAST(#{id,jdbcType=VARCHAR} AS BIGINT)
    </update>

    <update id="updateChildPathInfo">
        UPDATE sys_module
        SET PATH = REPLACE(PATH, #{oldModule.path,jdbcType=VARCHAR}, #{newModule.path,jdbcType=VARCHAR})
        WHERE path like
        <if test="_databaseId == 'mysql'">
            concat('%',#{oldModule.path,jdbcType=VARCHAR},'%')
        </if>
        <if test="_databaseId =='oracle'">
            '%'||#{oldModule.path}||'%'
        </if>
        <if test="_databaseId == 'postgre'">
            '%' || #{oldModule.path, jdbcType=VARCHAR} || '%'
        </if>
        AND id != #{oldModule.id,jdbcType=BIGINT}
    </update>
</mapper>
