<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.pkaq.sys.tenant.mapper.TenantMapper">
    <delete id="deleteByModuleIds">
        DELETE FROM SYS_ROLERES_REF rr
        WHERE EXISTS (
            SELECT 1
            FROM SYS_MODULE_RESOURCES mr
            WHERE rr.RESOURCE_ID = mr.ID
                AND mr.MAIN_ID IN
                <foreach collection="moduleIds" item="id" open="(" separator="," close=")">
                    #{id}
                </foreach>
        )
    </delete>

    <update id="reGrantUser">
        WITH sorted_users AS (
            SELECT ID
            FROM SYS_USER
            WHERE TENANT_ID = #{tid}
                AND (<include refid="common.avalibleSQL"><property name="prefix" value="SYS_USER"/></include>)
            ORDER BY UTC_MODIFY DESC
            <choose>
                <when test="_databaseId =='mysql'">
                    LIMIT 18446744073709551615 OFFSET #{count}
                </when>
                <otherwise>
                    OFFSET #{count} ROWS
                </otherwise>
            </choose>
        )
        UPDATE SYS_USER u
        SET FROZEN = #{frz}
        FROM sorted_users s
        WHERE u.ID = s.ID
            AND (u.FROZEN IS NULL OR u.FROZEN != 1)
            AND (<include refid="common.avalibleSQL"><property name="prefix" value="u"/></include>)
    </update>

    <update id="frozenUser">
        UPDATE SYS_USER u
        SET frozen = 1
        FROM SYS_TENANT t
        WHERE u.tenant_id = t.id
            AND t.frozen = 1
            AND u.tenant_id IN
            <foreach collection="ids" item="id" index="index" open="(" close=")" separator=",">
                #{id}
            </foreach>
            AND (<include refid="common.avalibleSQL"><property name="prefix" value="u"/></include>)
    </update>

    <update id="unfronzenUser">
        WITH ordered_users AS (
            SELECT
                u.id,
                u.tenant_id,
                u.frozen,
                t.auth_user_count,
                ROW_NUMBER() OVER (PARTITION BY u.tenant_id ORDER BY u.utc_create ASC) AS rn
            FROM sys_user u
                JOIN sys_tenant t ON u.tenant_id = t.id
            WHERE u.tenant_id IN
                <foreach collection="ids" item="id" index="index" open="(" close=")" separator=",">
                    #{id}
                </foreach>
                AND (<include refid="common.avalibleSQL"><property name="prefix" value="u"/></include>)
        )
        UPDATE sys_user u
        SET frozen = 0
        FROM ordered_users o
        WHERE u.id = o.id
            AND o.rn &lt;= o.auth_user_count
            AND u.frozen != -1
            AND u.frozen != 0
            AND (<include refid="common.avalibleSQL"><property name="prefix" value="u"/></include>)
    </update>
</mapper>
