import React from 'react';
import { Divider, Popconfirm } from 'antd';
import { connect } from 'dva';
import DataTable from '@/components/DataTable';

@connect(state => ({
  ${namespace}: state.${namespace},
  loading: state.loading.effects['${namespace}/fetch'],
}))
export default class List extends React.PureComponent {
  // 组件加载完成后加载数据
  componentDidMount() {
    this.props.dispatch({
      type: '${namespace}/fetch',
    });
  }

  #if(${selection})
  // 行选事件
  handleSelectRows = rows => {
    this.props.dispatch({
      type: '${namespace}/updateState',
      payload: { selectedRowKeys: rows },
    });
  };
  #end
  // 单条删除
  handleDeleteClick = record => {
    this.props.dispatch({
      type: '${namespace}/remove',
      payload: {
        param: [record.id],
      },
    });
  };

  // 编辑
  handleEditClick = record => {
    this.props.dispatch({
      type: '${namespace}/edit',
      payload: {
        modalType: 'edit',
        id: record.id,
      },
    });
  };

  // 翻页
  handlePageChange = pg => {
    const { dispatch, searchForm } = this.props;
    const { pageNum, pageSize } = pg;

    const params = {
      page: pageNum,
      pageSize,
      ...searchForm.getFieldsValue(),
    };

    dispatch({
      type: '${namespace}/fetch',
      payload: params,
    });
  };

  render() {
    const { loading } = this.props;

    const { roles, #if(${selection})selectedRowKeys#end } = this.props.role;

    const columns = [
    #foreach(${column} in ${columns} )
      {
        title: '${column.comment}',
        name: '${column.propertyName}',
        tableItem: {},
      },
    #end
      {
        tableItem: {
          render: (text, record) =>
            record.status === '0000' && (
              <DataTable.Oper style={{ textAlign: 'center' }}>
                <a onClick={e => this.handleEditClick(record, e)}>编辑</a>
                <Divider type="vertical" />
                <Popconfirm
                    title="确定要删除吗？"
                    okText="确定"
                    cancelText="取消"
                    onConfirm={() => this.handleDeleteClick(record)}
                >
                  <a>删除</a>
                </Popconfirm>
              </DataTable.Oper>
            ),
        },
      },]

    const dataTableProps = {
      columns,
      rowKey: 'id',
      showNum: true,
      loading,
      isScroll: true,
      alternateColor: true,
      dataItems: roles,
      #if(${selection})
      selectType: 'checkbox',
      selectedRowKeys,
      onSelect: this.handleSelectRows,
      #end
      onChange: this.handlePageChange,
    };

    return <DataTable {...dataTableProps} bordered #if(${selection})pagination#end />;
  }
}
